.custom-shape-divider-top-1715354906 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  color: black;
}

.custom-shape-divider-top-1715354906 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1715354906 .shape-fill {
  fill: rgb(172, 172, 1);
}
